html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
*, *:before, *:after {
    box-sizing: inherit;
}
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
  
ol, ul {
    list-style: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

/*^^^RESET^^^*/

/*
https://www.materialpalette.com/deep-purple/lime
*/

body {
    background-color: #673AB7;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: #FFFFFF;
    font-size: 10vh;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}
.close-button {
    position: absolute;
    right: .25rem;
    top: .25rem;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.top {
    text-align: center;
    background-color: #512DA8 ;
    padding: 1vw;
}

.text-field {
    width: 25%;
    background-color: #D1C4E9;
    margin: 1vh;
    border: none;
    
}

::placeholder{
    color: black;
    text-align: center;
}

.submit-button, .book-button {
    color: #000;
    background-image: linear-gradient(to top right, hsl(99, 100%, 69%), rgb(251, 251, 193));
    border-radius: 15px;
    border-width: 1px;
    box-shadow: 1px;
    width: 25%;
    font-weight: 900;
}

.submit-button {
    padding: 1vh;
    border-radius: 25px;
    font-size: 2vh;
}

.book-button{
    padding: .5vw 1vw;
    
}

.library {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 1rem;
    margin: 3vh;
}

    
.dummy-card {
    background-color: #D1C4E9;
    border: 1px solid black;
    border-radius: 7px;
    padding: 1vw;
    /*margin: 1vh;*/
}

.book-info, .book-button {
    text-align: center;
    padding: .5vw;
}



